@{
    ViewBag.Title = "HomeView";
}
<h2>HomeView</h2>
<p>Load xml file here</p>
<p name="error"></p>
@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
<div id="file-content"></div>
<div id="error"><p></p></div>
<div id="success"><p></p></div>
<script>
    var res = "@ViewBag.report";
    if (res == "File uploaded successfully")
    {
        $("#success").text(res);
        $("#success").css(
            { "color": "green" },
            { "size": "10px" });
    }
    else
    {
        $("#error").text(res);
        $("#error").css(
            { "color": "red" },
            { "size": "10px" });
    }
</script>